# phpstorm project files
.idea
.vscode/

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# sublime text project / workspace files
*.sublime-project
*.sublime-workspace

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# composer vendor dir
/vendor

# Yii runtime
/runtime

# Local environment configuration
.env

# Codeception C3
c3.php

# Local environment configuration
.env
